USE master;
GO

--DROP DATABASE EMPRESA;

CREATE DATABASE EMPRESA_MarcosChouza;
GO
USE EMPRESA_MarcosChouza;
GO


CREATE TABLE dbo.EMPREGADO(
	numero int NOT NULL,
	nome varchar(30) NOT NULL,
	ape1 varchar(30) NOT NULL,
	ape2 varchar(30) NULL,
	data_nacemento date ,
	id_sucursal_traballa int NOT NULL,
	titulo varchar(10) NULL,
	data_contrato date NOT NULL,
	num_empregado_xefe int NULL,
	cota_de_vendas numeric(12,2) NULL,
 CONSTRAINT PK_EMPREGADO_numero PRIMARY KEY(numero)
);
GO

       
GO

CREATE TABLE dbo.SUCURSAL(
	identificador int NOT NULL,
	cidade varchar(15) NOT NULL,
	rexion varchar(10) NOT NULL,
	num_empregado_director int NULL,
	obxectivo numeric(12, 2) NULL,
 CONSTRAINT PK_SUCURSAL_identificador PRIMARY KEY (identificador));
GO

INSERT dbo.SUCURSAL (identificador, cidade, rexion, num_empregado_director, obxectivo)
VALUES (11, 'BARCELONA','LESTE', 106, 575000),
	   (12, 'VALENCIA', 'LESTE', 104, 800000),
       (13, 'MURCIA', 'LESTE', 105, 350000),
	   (21, 'A CORUÑA', 'OESTE', 108, 725000),
	   (22, 'VIGO', 'OESTE', 108, 300000);
GO

CREATE TABLE dbo.FABRICANTE(
	codigo char(3) NOT NULL,
	nome varchar(50) NOT NULL,
CONSTRAINT PK_FABRICANTE_codigo PRIMARY KEY (codigo)
);
INSERT INTO dbo.FABRICANTE (codigo, nome)
VALUES  ('LOG', 'LOGITECH'),
		('KIN', 'KINGSTON'),
		('SEA', 'SEAGATE'),
		('TOS', 'TOSHIBA'),
		('ASU', 'ASUS'),
		('SAM', 'SAMSUNG'),
		('WSD', 'WESTERN DIGITAL');
GO

CREATE TABLE dbo.PRODUTO(
	cod_fabricante char(3) NOT NULL,
	identificador char(5) NOT NULL,
	descricion varchar(150) NOT NULL,
	prezo numeric(7,2) NOT NULL,
	existencias smallint NOT NULL,
 CONSTRAINT PK_PRODUTO PRIMARY KEY (cod_fabricante, identificador)
);
GO


CREATE TABLE dbo.PEDIDO(
	numero int NOT NULL,
	data_pedido datetime NOT NULL,
	num_cliente int NOT NULL,
	num_empregado int NOT NULL,
	cod_fabricante char(3) NOT NULL,
	id_produto char(5) NOT NULL,
	cantidade int NOT NULL
 CONSTRAINT PK_PEDIDO_numero PRIMARY KEY CLUSTERED(numero));
GO

CREATE TABLE dbo.CLIENTE(
	numero int NOT NULL,
	nome varchar(50) NOT NULL,
	num_empregado_asignado int NULL,
	limite_de_credito numeric(10, 2) NULL,
CONSTRAINT PK_CLIENTE_numero PRIMARY KEY(numero));
GO

/****** CLAVES FORÁNEAS ******/
ALTER TABLE dbo.EMPREGADO  
ADD  
	 CONSTRAINT FK_EMPREGADO_SUCURSAL_num_sucursal_traballa
	 FOREIGN KEY(id_sucursal_traballa)
	 REFERENCES dbo.SUCURSAL (identificador),
	 CONSTRAINT FK_EMPREGADO_EMPREGADO_num_empregado_xefe 
	 FOREIGN KEY(num_empregado_xefe)
	 REFERENCES dbo.EMPREGADO (numero);
GO

ALTER TABLE dbo.SUCURSAL  
ADD  CONSTRAINT FK_SUCURSAL_EMPREGADO 
	 FOREIGN KEY(num_empregado_director)
	 REFERENCES dbo.EMPREGADO (numero);
GO

ALTER TABLE dbo.PRODUTO
ADD CONSTRAINT FK_PRODUTO_FABRICANTE_cod_fabricante
	FOREIGN KEY (cod_fabricante)
	REFERENCES dbo.FABRICANTE(codigo);

ALTER TABLE dbo.PEDIDO  
ADD  CONSTRAINT FK_PEDIDO_CLIENTE_num_cliente 
	 FOREIGN KEY(num_cliente)
	 REFERENCES dbo.CLIENTE (numero),
	 CONSTRAINT FK_PEDIDO_PRODUTO FOREIGN KEY(cod_fabricante, id_produto)
	 REFERENCES dbo.PRODUTO (cod_fabricante, identificador),
	 CONSTRAINT FK_PEDIDO_EMPREGADO_num_empregado 
	 FOREIGN KEY(num_empregado)
	 REFERENCES dbo.EMPREGADO (numero),
	 CONSTRAINT FK_CLIENTE_VENDEDOR_num_empregado 
	 FOREIGN KEY(num_empregado)
	 REFERENCES dbo.EMPREGADO(numero);
GO

ALTER TABLE dbo.CLIENTE  
ADD  CONSTRAINT FK_CLIENTE_EMPREGADO_num_empregado_asignado
	 FOREIGN KEY(num_empregado_asignado)
	 REFERENCES dbo.EMPREGADO (numero);
GO
